.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
}
.logo {
  width: 120px;
}
.nav-items {
  padding: 0 20px;
}
.nav-items > ul {
  font-size: 14px;
  display: flex;
  list-style: none;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

/* body part css */
.search {
  padding: 10px;
}
/* res card css */
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  width: 190px;
  padding: 5px;
  margin: 5px;
}
.res-card:hover {
  cursor: pointer;
  transform: scale(0.95, 0.95);
  transform-origin: center center;
  transition: all 0.1s ease-in 0s;
}
.res-card-img {
  width: 100%;
}
img.res-card-img {
  min-height: 240px;
}
